# deepcode
.dccache

# node
node_modules
/.pnp
.pnp.js

# parcel
.parcel-cache

# misc
*.js
!src/*.js
!dist/*.js
*.http

# typescript
*.tsbuildinfo

# eslint
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
